.search {
  -webkit-appearance: none;
  outline: none;
  padding: 6px;
  width: 180px;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
}
